@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');

.titulo {
    color: dodgerblue;
    margin-left: 80px;
    font-size: 100px;
    font-family: 'Dancing Script', 'Pacifico', cursive;
}

video {
    margin-top: 140px;
    margin-right: 80px;
}

.cartao-nina88 {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 20px;
}

.cartao-nina88 ul li {
    text-align: center;
}

.cartao-nina88 .cartao-topo {
    padding: 40px 50px 0;  
}

.cartao-nina88 .nome {
    margin-bottom: 20px;
}

.cartao-nina88 .detalhes {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.cartao-nina88 .cartao-imagem {
    width: 350px;
    height: 350px;
}

.cartao-nina88 img {
    max-height: 100%;
    max-width: 100%;
    margin-left: 45px;
}

.cartao-nina88 .cartao-informacoes {
    display: flex;   
    background-color: #fff;
    padding: 80px 0px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
}

.cartao-nina88 .cartao-informacoes h3 {
    font-size: 20px;
    max-width: fit-content;   
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A;
}

.cartao-nina88 .cartao-informacoes .status {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    width: 180px;
     justify-content: center;   
}

.cartao-nina88.aberto {
    display: block;
}

.felicidade {
    background-color: #76befe;
}

.tristeza {
    background-color: #ED8A8B;
}

.desconfianca {
    background-color: #49d0b0;
}

.tranquilidade {
    background-color: #76befe;
}

.reflexao {
    background-color: #ba68c8;
}

.nina-surpresa {
    background-color: #C29791;
}

.consciencia {
    background-color: #49d0b0;
}

.arte {
    background-color: #992020;
}
