@media (max-width: 1200px) {
    body {
        font-size: 12px;
    }

    .nina88 {
        flex-direction: column;
        padding: 30px 0;
    }

    .cartao-nina88 h2 {
        font-size: 30px;
    }

    .cartao-nina88 img {
        margin-left: 70px;
    }

    .cartao-nina88 .cartao-imagem {
        width: 200px;
        height: 200px;
    }

    .cartao-nina88 .cartao-informacoes {
        padding: 50px 30px 30px;
        margin-top: -30px;
    }

    .cartao-nina88 .cartao-informacoes h3 {
        font-size: 20px;
    }

    .listagem {
        max-width: 400px;
    }

    .listagem ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .listagem .item {
        width: 160px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 20px;
    }

    .listagem .item span {
        padding-right: 5px;
        font-size: 13px;
    }

    .listagem .item img {
        width: 55px;
        height: 55px; 
        border-radius: 50%;
    }
}

@media (max-width: 890px) {
    main {
        flex-direction: column;
    }

    .titulo {
        margin-left: 20px;
    }

    main .video {
        margin: 30px auto;
    }

    .cartao-nina88 img {
        margin-left: 70px;
    }
}

@media (max-width: 415px) {
    main .titulo {
        margin-left: 45px;    
    }
    main .video {
        margin: 40px ;
        width: 250px;
        height: 250px;
    }

    .cartao-nina88 {
        max-width: 300px;
        margin: 0 auto;
    }

    .cartao-nina88 img {
        margin-left: 25px;
    }
}
