@media (max-width: 750px) {
    body {
        font-size: 12px;
    }

    .nina88 {
        flex-direction: column;
        padding: 30px 0;
    }

    .cartao-nina88 {
        max-width: 300px;
    }

    .cartao-nina88 .cartao-imagem {
        width: 200px;
        height: 200px;
    }

    .cartao-nina88 .cartao-informacoes {
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .cartao-nina88 .cartao-informacoes .informacoes {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .cartao-nina88 .cartao-informacoes h3 {
        font-size: 16px;
    }

    .listagem {
        max-width: 290px;
    }

    .listagem ul {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .listagem .nina88 {
        width: 140px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 20px;
    }

    .listagem .nina88 span {
        padding-right: 5px;
    }
}
